<mat-toolbar color="primary">
    <span>Detalhes do Contato</span>
</mat-toolbar>

<div class="newContacts__form">
    <mat-form-field appearance="standard">
        <mat-label>Input</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Telefone</mat-label>
        <input matInput>
    </mat-form-field>

    <div class="newContacts__buttons">
        <a routerLink="/contacts" mat-raised-button>Voltar</a>
        <button type="submit" mat-raised-button color="primary">Salvar</button>

    </div>
</div>